[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Fachoda
Icon=fachoda-complex
Exec=/usr/bin/fachoda-complex.sh
X-Osso-Type=application/x-executable
Terminal=false
Categories=Game;

